.user-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 100px;
    padding: 100px 0px;
}